APP_NAME=LensStore
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-app-name.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

# Cấu hình DB Render (PostgreSQL hoặc MySQL)
DB_CONNECTION=mysql
DB_HOST=your-db-host
DB_PORT=3306
DB_DATABASE=your-db-name
DB_USERNAME=your-db-user
DB_PASSWORD=your-db-password

BROADCAST_CONNECTION=log
CACHE_STORE=database
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=lensstore.system@gmail.com
MAIL_PASSWORD=wlaeihcackhbqqyd
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=lensstore.system@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

GHN_BASE_URL=https://dev-online-gateway.ghn.vn/shiip/public-api
GHN_TOKEN=883c46fc-ace6-11f1-a973-aee5264794df
GHN_SHOP_ID=219584
GHN_VERIFY_SSL=false
GHN_FROM_DISTRICT_ID=1485

MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
MOMO_VERIFY_SSL=false
MOMO_REDIRECT_URL=https://your-app-name.onrender.com/user/payment/momo/callback
MOMO_IPN_URL=https://your-app-name.onrender.com/payment/momo/ipn
